/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body {
    background-color: #F5F5F1;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    height: 300px;
    width: 100%;
}

/* Utils */
.mt-10 {
    margin-top: 10px;
}


.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}

.border {
    border: 2px solid black;
}


/* Header */



/* Main */

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.row {
    width: 100%;
}

.cols {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    height: 400px;
    width: calc(100% / 3 - 40px);
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
}